@media( max-width:991.98px ){
    header .NavBar #logo img{
        width:86px !important;
        height: 86px !important;
    }
    .accordion{
        width: 92%;
    }
    h5{
        font-size: 17px !important;
    }
}
